+--------------------------------------+---------------------+
|              UUID                    | NAME                |
+--------------------------------------+---------------------+
{{ range .Items -}}
| {{ .Metadata.Uid }} | {{.Metadata.Name }}
{{ end -}}
+--------------------------------------+---------------------+